.characters-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 10px); 
    text-align: center;
    font-family: arial;
    margin: 5px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
  
  .character-info p {
    color: #5F0F40;
    font-size: 1.1rem;
  }

  .separation{
    border-top: 1px dotted;
    border-bottom: none;
  }
  
  .character-info .info-value{
    color: #E36414;
  }

    
  
    .character-img{
      width: 90%;
        margin-top: 13px;
        border-radius: 0.25rem;
    }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

 /* Media query for middle-sized screens */
 @media (max-width: 1023px) and (min-width: 768px) {
    .card {
      width: calc(50% - 10px); /* Two cards in a row for medium screens */
    }
  }


  /* Media query for mobile view */
  @media (max-width: 767px) {
    .card {
      width: 100%; /* One card in a row for mobile */
    }
  }