.character-container{
    margin-bottom: 100px;
}


.container-1{
    display: flex;
    flex-direction: row;
}

.character-col-2{
    padding: 0px 10px 10px 10px;
    margin-left: 20px;
}

.character-heading-hr{
    height: 1px;
    width: 100%;
    margin-top: 0px;
}

.characterheading h1{
    margin-bottom: 10px;
}

.character-col-1 img{
    border-radius: 0.25rem;
}

.container-3 h2{
    margin-bottom: 10px;
}

.character-details{
    display: flex;
    flex-wrap: wrap;    
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 20px;
}

.character-type i{
    font-size: 21px;
}

.character-details .character-details-child{
    padding: 20px 20px 20px 0px;
}

.character-details-child{
    
    margin: 10px;
}
.character-details-child p{
    font-weight: bold;
}
.character-details-child h5{
    color: #FB8B24;
}

.character-type i{
    padding: 5px;
}

.container-2,.container-3,.container-4{
    margin-top: 20px;
}
.episodes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container-3 p{
    background-color: green !important;
    color: white;
    margin: 2px;
    padding: 5px;
    border-radius: 4px;
}

.container-3 a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;

}
 @media (max-width: 992px) {

    .container-1 {
        flex-direction: column;    
    }

    .character-col-2 {
        
        margin-left: 0px;
    }
    .character-col-1 img {
        width: 250px;
        margin: 10px;
        border-radius: 0.25rem;
    }   

    .character-col-2 {
        padding: 0px;
        margin-top: 15px;
    }
     
 }

@media (max-width: 576px) {
     

}

 @media (max-width: 435px) {

    .character-details {
           flex-direction: column;
    }
    
    .character-details-child {
        margin: -10px 10px;
    }

    .recipe-veg{
        float: left;
        padding: 0px 5px;
        width: 31px;
    }
 }